.media {
  margin-top: 90px;
  .media-left {
    h3 {
      margin: 30px 0;
    }
    img {
      padding: 10px;
      height: 250px;
      width: 100%;
    }
    iframe {
      padding: 10px;
      height: 250px;
      width: 100%;
    }
  }
}
