.newspaper {
  margin-top: 90px;
  #map {
    height: 560px;
    width: 100%;
  }
  .newspaper-left {
    margin: 55px 0;
    h5 {
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    span {
      font-size: 14px;
    }
    p {
      font-size: 14px;
      margin-bottom: 35px;
    }
    img {
      margin-bottom: 30px;
    }
    .author {
      float: right;
      text-align: right;
      p {
        margin-bottom: 5px;
        font-weight: bold;
      }
      label {
        font-weight: normal;
      }
    }
  }
}
.adv-box {
  .box {
    margin: 30px;
    padding: 15px;
    text-align: center;
    color: #fff;
    h5 {
      text-transform: uppercase;
      font-size: 14px;
      margin: 15px 0;
    }
    p {
      font-size: 14px;
    }
  }
  .blue {
    background: #00aeef;
  }
  .red {
    background: #ed1c24;
  }
  .green {
    background: #00984a;
  }
}
.contact-left {
  h4 {
    text-align: left;
    text-transform: uppercase;
  }
  .contact-container {
    text-align: center;
  }
}