/*
    dimension definition
*/
$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 992px;
$width-large-desktop: 1200px;
$width-large-wrap: 1450px;

/*Font - start*/
$OpenSansRegular: 'OpenSans', Arial, san-serif;
/*Font - end*/

/*Color - start*/
$color-white: #fff;
$color-black: #000;
$color-background-header: #191919;
/*Color - end*/